.newsTable{
  th {
    text-align: center;

    &.w50 {
      width: 50px;
    }

    &.w400 {
      width: 400px;
    }

    &.left {
      text-align: left;
    }
  }

  td {
    text-align: center;

    &.left {
      text-align: left;
    }
  }
}

.news {
  .item {
    margin-bottom: 20px;


    .title {
      margin-bottom: 10px;

      a {
        font-size: 1.5em;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }

    .newsSystem {
      color: #7c7c7c;
      margin-bottom: 10px;
      font-size: 0.85em;
    }

    .image {
      overflow: hidden;
      max-height: 300px;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .newsPreview {
      margin: 20px 0;
    }
  }

}