.newsTable{
  th {
    text-align: center;

    &.w50 {
      width: 50px;
    }

    &.w400 {
      width: 400px;
    }

    &.left {
      text-align: left;
    }
  }

  td {
    text-align: center;

    &.left {
      text-align: left;
    }

    img {
      width: 150px;
    }
  }


}

.news {
  .item {
    margin-bottom: 20px;


    .title {
      margin-bottom: 10px;

      a {
        font-size: 1.5em;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }

    .newsSystem {
      color: #7c7c7c;
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 0.85em;
      width: 100%;

      .views{
        background: #eaeaea;
        padding: 2px 10px;
        margin-left: 5px;
        border-radius: 2px;
        color: #4a4a4a;
        font-weight: bold;
        i{
          margin-left: 5px;
        }
      }

      .comments{
        background: #f6f267;
        padding: 2px 10px;
        margin-left: 5px;
        border-radius: 2px;
        color: #4a4a4a;
        font-weight: bold;
        i{
          margin-left: 5px;
        }
      }
    }

    .image {
      overflow: hidden;
      max-height: 300px;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }


  }

  &.newsItem {
    .title {
      position: relative;
      margin-bottom: 20px;

      h1 {
        margin: 0px 0px 20px 0px;
        position: absolute;
        width: 100%;
        text-shadow: 0 1px 4px rgba(0,0,0,.5);
        margin-top: 20%;
        text-align: center;
        color: #fff;
      }
      .image {
        width: 100%;
      }

      .newsSystem {
        color: #7c7c7c;
        font-size: 0.85em;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: rgba(0,0,0,.5);
        padding: 15px 20px;
        color: #fff;

        .views{
          background: #eaeaea;
          padding: 2px 10px;
          margin-left: 5px;
          border-radius: 2px;
          color: #4a4a4a;
          font-weight: bold;
          i{
            margin-left: 5px;
          }
        }

        .comments{
          background: #f6f267;
          padding: 2px 10px;
          margin-left: 5px;
          border-radius: 2px;
          color: #4a4a4a;
          font-weight: bold;
          i{
            margin-left: 5px;
          }
        }
      }
    }
    .content {
      //padding: 20px;
    }

    .newsPreview {
      margin: 20px 0;
    }
  }
}

//.form {
//  background: #fff;
//  padding: 20px;
//  margin: 0px 20px;
//}